/* To show bullests in unordered lists */
section.bulleted ul {
  padding-left: 30px;
}

/* Full slide backgrounds */
.slide.full-background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}

.scattered-leaves {
  background-image: url(../images/scattered-leaves.jpg);
}

.terminal {
  background-image: url(../images/terminal.png);
}

.rstudio-web {
  background-image: url(../images/rstudio-web.png);
}

.steve-jobs {
  background-image: url(../images/steve-jobs.jpg);
}

.bicycle-route {
  background-image: url(../images/bicycle-route.jpg);
}

.error-message {
  background-image: url(../images/error-message.png);
}

.interface-old {
  background-image: url(../images/interface-old.png);
}

.interface-new {
  background-image: url(../images/interface-new.png);
}

.inferno {
  background-image: url(../images/inferno.jpg);
}

.grim-repo {
  background-image: url(../images/grim-repo.jpg);
}

.poptocat {
  background-image: url(../images/poptocat.jpg);
}

.bear-cavalry {
  background-image: url(../images/bear-cavalry.jpg);
}

.dragon {
  background-image: url(../images/dragon.jpg);
}

.constructocat {
  background-image: url(../images/constructocat.jpg);
}


.attribution {
  font-size: 24px;
  position: fixed;
  bottom: 8px;
  left: 40px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}

.attribution.flickr {
  background: url(../images/flickr.png) left top no-repeat;
  padding-left: 60px;
}

.attribution.cc {
  background: url(../images/cc.large.png) left top no-repeat;
  padding-left: 36px;
}

/* Happy generic hiding class */
.hidden {
  display: none;
}
